{% extends "layout.html" %}

{% block content%}

<div class = "container center-h center-v"
        <h1>Descubre el dolor de las especies</h1>

        <h2>Animal Extinction</h2>
    <!-- <style>
            .container {
              margin: 0 0 1rem;
              height: 10rem;
              display: flex;
              /* align-items por defecto tiene el valor `stretch` */
              align-items: start;
            }
.center-h {
  justify-content: center;
}
.center-v {
  align-items: center;
}
.child {
  background: #60e0b0;
  padding: .2rem;
}
</style> -->

{% endblock %}