{% extends "layout.html" %}

{% block content%}
<h1>Por qué es importante proteger a los animales en peligro de extinción</h1>

<P>Salvar a todas las especies que en la actualidad se encuentran en peligro de extinción supondría un gran desembolso
    económico mundial y una labor ardua de esfuerzos y prácticas que velaran por el bienestar de estos animales. Sin
    embargo, ¿merecería todo este esfuerzo la pena o sería mejor destinar ese dinero y energía a otros aspectos humanos?
    ¿Te preguntas cuáles son las razones para proteger a los animales en peligro de extinción?
<P>Si quieres descubrir la respuesta, no te pierdas este artículo de FinBeast para entender por qué es importante
    proteger a los animales en peligro de extinción.<BR>
    <img src="https://images.ecestaticos.com/NKZ049juoBK679hbWNAw0DN8rJY=/0x0:2121x1414/557x418/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fee9%2Fa78%2Fbf8%2Fee9a78bf8625c12dceb443da70e3884a.jpg"
        width="250" height="200" HSPACE="140" VSPACE="10">
    <img src="https://assets.afcdn.com/story/20161017/989289_w944h530c1cx511cy250.webp"
        width="350" height="200" HSPACE="10" VSPACE="10">
    
<h2>¿DONDE SE ENCUENTRA EL AMAZONAS? "El Pulmón del Mundo"</h2>

<P>Si bien la mayor parte de Amazonas se encuentra en Brasil y Perú, en realidad es tan grande que se conforma por
    regiones de nueve países además de los ya mencionados: Colombia, Venezuela, Bolivia, Ecuador, Francia (Guayana
    francesa), Guayana y Surinam.

<P>Se destaca por ser una de las ecorregiones con mayor biodiversidad en el planeta, hogar de milis especies que no se
    encuentran en ninguń otro lugar. De hecho, alberga las más grande cantidad de especies de agua dulce del mundo y una
    quinta parte de esta.
    <img src="" width="500" height="250">

<h3>¿Qué ocurre en el amazonas?</h3>
<div class="row">
    <div class="column">
        <P>Ocurren varias cosas como por ejemplo los incendios del Amazonas destruyen la selva, y con ella, el hábitat
            de muchos animales en peligro de extinción. Su grito no se escucha, pero sufren. Hay especies que
            desaparecen y que ni siquiera conocemos.
        <h4>El hogar de los animales arde en llamas</h4>
        <P>Debido a los incendios en el Amazonas disminuye el territorio en el que viven los animales. Pero su hábitat
            ya había sido destruido antes de los incendios, por la deforestación para el cultivo.
        <P>Los animales perdieron la base de su sustento y su hogar, y los fuegos aumentan esa destrucción. No se sabe
            exactamente cuántas especies están en peligro de haberse extinguido.
    </div>
    <div class="column">
        <h5>El jaguar vive constantemente amenazado</h5>
        <P>El Amazonas es una de las regiones con la mayor biodiversidad del planeta. Más de 3.000 especies de peces
            viven allí. Además, hay mamíferos como el jaguar o la nutria gigante, y miles de especies de aves. Pero hay
            muchas especies que aún ni siquiera han sido descubiertas. Una cosa es segura: su hábitat desaparece cada
            vez más rápido.
            <img src="https://static.dw.com/image/44437477_303.jpg" width="500" height="250">

    </div>
    <h4><center>Mariposa e insectos en extinción</center></h4>

    <div class="row">
        <div class="column">
            <P>Innumerables especies de animales invertebrados están en peligro de extinción. Según expertos en
                biodiversidad, aproximadamente la mitad de las poblaciones de todas las especies del planeta están
                disminuyendo.
                <P>En el Amazonas, sobre todo los animales que para sobrevivir se especializaron en plantas, territorios
                    o alimentos específicos están en peligro.
            </div>
            <div class="column">
                <img src="https://mymodernmet.com/wp/wp-content/uploads/2020/06/mariposa-monarca-1.jpg" width="500"
                    height="250">
            </div>

    
                    {% endblock %}